.CurrentWeather{
    background-color: rgba(179, 177, 177, 0.6);
    justify-content: left;
    width: 38%;
    margin: 10px auto;
    padding: 20px 10px;
}

.Header{
    background-color:rgba(179, 177, 177, 0.1);
    padding-left: 10px;
}

.Date{
    width: fit-content;
    color: rgba(250,190,2,255);
}

.Temperature{
    background-color: rgba(179, 177, 177, 0.1);
    width: fit-content;
    margin: auto 5px;
    padding: 5px;
}

.Temperature > img {
    width: 45px;
    height: 45px;
}

.Temperature > p {
    padding: 10px;
    font-weight: 400;
}

.Description{
    background-color: rgba(179, 177, 177, 0.1);
    width: fit-content;
    font-weight: 600;
    padding-left: 5px;
}

.Pressure{
    background-color: rgba(179, 177, 177, 0.1);
    font-weight: 400;
    width: 140px;
    margin: 0 5px 0 0;
}

.Pressure > img{
    width: 20px;
    height: 20px;  
}

.Humidity{
    background-color: rgba(179, 177, 177, 0.1);
    font-weight: 400;
    width: 140px;
    margin: 0 5px 0 0;
}

.Wind{
    background-color: rgba(179, 177, 177, 0.1);
    font-weight: 400;
    width: 140px;
    margin: 0 5px 0 0;
}

.Wind > img{
    width: 20px;
    height: 20px;
}

.Visibility{
    background-color: rgba(179, 177, 177, 0.1);
    font-weight: 400;
    width: 140px;
    margin: 0 5px 0 0;
}